* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/12/17/49/landscape-152502_1280.png");
  font-family: "Odibee Sans", cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* font-family: "Press Start 2P", cursive; */
  text-align: center;
}
h1 {
  font-size: 5rem;
  margin: 4rem 0;
}
#score {
  font-size: 2rem;
  color: green;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: saddlebrown;
  display: inline-block;
  margin: 2rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle.active {
  /* background-image: url("https://cdn.pixabay.com/photo/2016/01/20/17/16/flower-1151963_1280.png"); */
  background-color: yellow;
  /* background-image: url(./flower-icon.png);
  background-attachment: fixed; */
}

button {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: burlywood;
  margin: 1rem;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}
#overlay {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgba(255, 255, 255, 0.911);
  padding: 2rem;
  width: 35%;
  height: 25%;
  border-radius: 10px;
  position: relative;
}

.modal button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.modal p {
  font-size: 1.5rem;
  margin: 2rem 0;
  color: rgba(194, 65, 33, 0.973);
}
#result {
  color: green;
}
#stop {
  display: none;
}
